
/* GLOBAL STYLES */

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato.eot');
    src: url('fonts/lato.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato.woff') format('woff'),
         url('fonts/lato.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,h1,h2,h3,h4,h5,h6,p,form,fieldset,img,ul{margin:0;padding:0;border:0;}
body,table{color:#000;font-family:Lato, Arial, sans-serif;}

body{padding:0;background-color:#fff;background-image:url('../img/bg.png');}

.input, select, textarea{}
.submit{font-style:normal;}
.form{}
.hide{display:none;}

a{background-color:inherit;color:#000;}
/*a:hover{text-decoration:underline;}*/

.abutton {background-color:inherit;color:#000;text-decoration:none;}
.abutton:hover{text-decoration:underline;}

.clear{clear:both;height:0px;font-size:0px;line-height:0px;}
.skiplink{position:absolute;top:-500px;left:0px;overflow:hidden;}
.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}

#container{position:relative;width:100%;margin:0 auto;}
#body, #foot{float:left;width:100%;margin:0 auto;}
#body .container{background:#fff;}
#head1{margin:0 auto;text-align:left;width:100%;background:#eb4e15;}
#head2, #head3{width:960px;margin:0 auto;text-align:left;}
#body .container, #foot .container{width: 1040px;margin: 0 auto;text-align: left;}
#header{background:#fff;}

/* HEAD1*/
#head1 .container{height:57px;width:960px;margin:0 auto;text-align:left;}
* html #head1 .container, * html #head2, * html #body{background:none;} /* IE 6 hack */

/*LOGO*/
#logo {float:left;padding-top:19px;padding-left:50px;}

/*MENU1*/
#menu1 ul{float:right;margin:20px;list-style:none;}
#menu1 li{float:left;padding:0 10px;}
#menu1 li a{font-size:14px;color:#fff;text-transform:uppercase;}
#menu1 li a:hover, #menu1 .selected a{text-decoration:underline;}

/*SOCIAL LINKS*/
#social{float:right;}
#social img{padding:12px 8px 0;}

/* HEAD2*/
#head2{background:none;margin-top:43px;}
#head2 .container{overflow:hidden;}

/*MENU2*/
#menu2 ul{float:right;padding:0 20px;list-style:none;background-image:url('../img/bg_menu2.png');background-repeat:repeat-x;background-color:#020202;border:1px solid #848484;}
#menu2 li{float:left;padding:0 10px;}
#menu2 li a{float:left;font-size:19px;color:#fff;padding:9px 5px;text-decoration:none}
#menu2 li a:hover, #menu2 .selected a{text-decoration:none;}


/* HEAD3*/
#head3{background:none;width:1000px;background-image:url('../img/shadow_slider.jpg');background-repeat:no-repeat;background-position:bottom center;}
#head3 .container{overflow:hidden;width:1040px;padding:20px;background-image:url('../img/shadow_header.png');background-repeat:no-repeat;margin-top:-20px;margin-left:-40px;}

#slider{float:left;padding:20px 0 10px 20px;}
#slider .content{position: relative;width: 496px;height: 378px;overflow: hidden;}
#all_news{position:absolute;}
#all_news a{text-decoration:none;}
#slider_product .navi li.hover a, #slider .navi li.hover a{background-image:url('../img/slider_hover.jpg');}

#slider_product .navi, #slider .navi{margin:16px 0 0 29px;}
#slider_product .navi ul, #slider .navi ul{list-style:none;}
#slider_product .navi li, #slider .navi li{float:left;}
#slider_product .navi li a, #slider .navi li a{background-image:url('../img/slider.jpg');background-repeat:no-repeat;float:left;width:15px;height:15px;padding-right:3px;}
#slider_product .navi li a:hover, #slider .navi li a:hover{background-image:url('../img/slider_hover.jpg');}

#box{float:right;padding-top:20px;width:440px;padding-right: 20px;}


.more a{color:#414141;font-size:18px;background-image:url('../img/more.jpg');background-repeat:no-repeat;background-position:center right;padding-right:23px;margin-right:80px;width:52px;float:right;clear:both;}
.more a, a:hover{text-decoration:none;}


/*OFFER BOX*/
#offerBox{padding:40px 80px 25px;overflow:hidden;background-image:url('../img/shadow_content.jpg');background-repeat:no-repeat;background-position:bottom center;}
#box1, #box2{padding-right:23px;margin-right:24px;background-image:url('../img/shadow_box.jpg');background-repeat:no-repeat;background-position:top right;float:left;}
#box3{float:left;}
#box1_border,#box2_border, #box3_border{float:left;border:1px solid #eeeeee;width:260px;text-align:center;min-height:320px;}
#box1_border .title, #box2_border .title, #box3_border .title{text-align:left;font-size:20px;color:#000;padding:10px 30px 0;background-image:url('img/bg_box.jpg');background-repeat:no-repeat;background-position:top left;height:52px;font-family:Arial;}
#box1_border .description, #box2_border .description, #box3_border .description{color:#6e6e6e;font-size:12px;text-align:left;padding:0 25px 25px;}

#offerBox .more a{font-size:15px;padding-right:10px;margin-right:20px;margin-top:10px;}


/*CONTENT*/
#content{padding:30px 40px 5px;margin-bottom:25px;overflow:hidden;font-family:Arial;background-image:url('../img/content_shadow.png');background-repeat:no-repeat;background-position:bottom center;}
#content .more a{font-size:15px;padding-right:10px;margin-right:5px;margin-top:10px;}
#content #shadow{background-image:url('../img/shadow_contact.jpg');background-repeat:no-repeat;background-position:top right;width:23px;height:235px;float:left;}
#content h4{font-size:14px;font-weight:normal;font-family:Arial;color:#767676;margin-bottom:5px;float:left;}


#pageDescription{padding:23px 19px;border:1px solid #eee;width:530px;color:#727272;float:left;height:187px;margin-left: 40px;}
#pageDescription h1{font-size:25px;color:#000;padding-bottom:35px;font-weight:normal;}
#pageDescription span{float:left;}
#pageDescription a{text-decoration:none;}

#contact{border:1px solid #eee;color:#727272;float:right;width:225px;padding:20px;height:193px;margin-right: 39px;}
#contact h2{color:#414141;font-size:25px;font-weight:normal;line-height:20px;}
#contact span {font-size:13px;color:#414141;float:left;padding-top:10px;}
#contact p{color:#414141;font-size:20px;padding-top:10px;float:left;}
#contact img{float:left;padding:0 15px 15px 0;}

/*SLIDER PRODUCT*/
#sliderProduct{padding:5px 30px 30px;overflow:hidden;}
#sliderProduct h2{font-weight:normal;font-size:38px;padding:0 15px 25px;}
#sliderProduct #prev, #sliderProduct #next{width:81px;float:left;background-image:url('../img/slider_bottom.jpg');background-repeat:no-repeat;height:240px;background-position:center left;;cursor:pointer}
#sliderProduct #next{float:right;background-image:url('../img/slider_bottom_hover.jpg');background-position:center right;cursor:pointer}

#sliderProduct #product{float: left;padding: 0 23px;border: 0;clear: none;}
#sliderProduct #product img{border:2px solid #e7e7e7;}
#sliderProduct #product #type{font-size:17px;text-transform:uppercase;color:#000;text-align:center;padding-top:3px;}

#sliderProduct .navi{clear:both;text-align:center;margin:0 auto;overflow:hidden;padding-top:35px;}
#sliderProduct .navi ul{list-style:none;width:54px;margin:0 auto;}
#sliderProduct .navi li{float:left;}
#sliderProduct .navi li a{background-image:url('../img/slider.jpg');background-repeat:no-repeat;background-position:center center;float:left;width:15px;height:15px;padding:0 1.5px;}
#sliderProduct .navi li a:hover{background-image:url('../img/slider_hover.jpg');}
#sliderProduct .navi li.hover a{background-image:url('../img/slider_hover.jpg');}

#sliderProduct .content{float:left;position:relative;overflow:hidden;height:249px;width:816px;}
#sliderProduct .content #all_polecane{position:absolute;}

/*LIST PRODUCTS*/
#left_info{width:330px;float:left;padding:36px 42px 30px 57px;font-family:Arial;background-image:url('../img/shadow_box.jpg');background-repeat:no-repeat;background-position:top right;}
#left_info h4{color:#767676;font-size:14px;font-weight:normal;border-bottom:1px solid #edeff0;padding-bottom:4px;}
#left_info h1{color:#414141;font-size:30px;line-height:28px;font-weight:normal;margin-top:50px;float:left;height:20px;width:162px;}
#left_info span{color:#686868;font-size:14px;font-weight:normal;margin-top:18px;float:left;}
#left_info img{color:#686868;font-size:14px;font-weight:normal;margin-top:20px;}

#products{font-family:Arial;}
#products ul{list-style:none;}
#products ul li{overflow: hidden;padding: 40px 27px 10px;background-image: url('../img/shadow_slider.jpg');background-repeat: no-repeat;background-position: bottom center;color: #707070;font-size: 14px;margin-left: 20px;}
#products ul li ul li{background: none;padding: 0;padding-left: 9px;}
#products ul li h2{text-transform: uppercase;color: #e74c05;font-weight: normal;font-size: 21px;width: 600px;}
#products ul li h2 a{text-transform: uppercase;color: #e74c05;font-weight: normal;font-size: 21px;width: 600px;text-decoration: underline;}
#products ul li .name span{float:left;padding-top:8px;padding-right:7px;text-transform:lowercase;}

#products ul li .feature{margin-top:15px;}
#products ul li .feature, #products ul li .price{width:300px;float:left}
#products ul li .feature span{color:#000;padding-left:7px;}
#products ul li .photo{float:left;padding:5px 15px;min-height: 200px;}
#products ul li .logo{padding:5px 15px;}



#products ul li .price {color:#111111;font-size:19px;float:right;margin-top:-15px;}
#products ul li .price li{font-size: 24px;margin-top:-30px;margin-left:80px;}
#products ul li .price #title{font-weight: bold;margin-bottom: 3px;font-size: 15px;position: relative;top: -40px;left: 52px;}
#products ul li .price #status{font-weight: bold;margin-bottom: 3px;font-size: 15px;position: relative;top: 30px;left: 52px; text-transform: uppercase;}
#products ul li .price span{color:#e74c05;}

#products ul li .details a, #products ul li .basket a{float:right;font-size:19px;font-weight:bold;letter-spacing:-1px;color:#ec5916;background:#f0f0f0;text-transform:uppercase;padding:3px 7px;font-family:Lato;}
#products ul li .basket a, #products ul li .basket input{color:#fff;background:#ec5916;clear:both;margin-left:3px;margin-right:40px;}

#products ul li .basketinput {float:right;font-size:15px;font-weight:bold;letter-spacing:-1px;color:#ec5916;background:#fff;text-transform:uppercase;font-family:Lato;margin-left:4px;}


#products #list{overflow:hidden;margin:0 auto;width:520px;}
#products #list ul li {background:none;padding:0 2px;float:left;font-size:15px;margin-top:20px;}
#products #list ul li a{font-size:16px;font-family:Arial;}
#products #list ul li a:hover{color:#e84f09;text-decoration:none;}
#products #list ul li a.prev, #products #list ul li a.next {color:#dbdbdb;font-family:Lato;font-size:15px;float:left;padding:5px 5px 0;text-transform:lowercase;}
#products #list ul li a.next {color:#414141;}

#products .controlPanel{margin-left:15px;}


/*PRODUCT*/
#slider_product{font-family:Arial;padding:35px 60px;overflow:hidden;}
#slider_product h1{color:#414141;font-size:30px;font-weight:normal;float:left;width:600px;padding-right:15px;line-height:28px;margin-top:15px;}
#slider_product .photo{float:left;padding-right:35px;}
#slider_product .description{font-size:14px;color:#686868;width:600px;text-align:justify;float:left;margin-top:15px;}
#slider_product .navi{margin:0;float:left;margin-top:15px;margin-left:35px;}



#product{border:1px solid #eee;font-family:Arial;color:#414141;overflow:hidden;clear:both;}
#product h1{font-size:30px;text-transform:uppercase;font-weight:normal;margin-left:55px;margin-top:15px;}
#product .shortDescription{font-size:17px;margin-left:55px;}
#product .photo{float:left;margin:25px 25px 25px 0;}
#product .photo img{border:1px solid #eee;}
#product  ul.imageList {list-style:none;float:left;margin-top:25px;margin-right:25px;}
#product  ul.imageList li img{border:1px solid #eee;margin-bottom:10px;}

#product #box{float:left;border:1px solid #eee;width:250px;padding:10px 10px 10px 25px;background-image:url('../img/bg_box2.jpg');background-repeat:no-repeat;margin-top:25px; margin-bottom:25px;}
#product #box ul.price{list-style:none;margin-bottom:25px;}
#product #box ul.price #title{font-size:18px;color:#000;font-weight:bold;margin-bottom:25px;}
#product #box ul.price #status{font-size:18px;color:#000;font-weight:bold;margin-bottom:25px;text-transform:uppercase}
#product #box ul.price li{font-size:15px;font-weight:bold;color:#000;margin-bottom:5px;}
#product #box ul.price li span{color:#eb4e15;font-size:22px;}
#product #box ul.price .info{color:#7f7f7f;font-size:11px;}
#product #box .available{color:#414141;font-size:15px;font-weight:bold;margin-top:35px;}
#product #box .available span{color:#eb4e15;}
#product #box .basket {float:left;color: #fff;background: #ec5916;margin-left: 3px;margin-right: 40px; font-size: 19px;font-weight: bold;letter-spacing: -1px;text-transform: uppercase;padding: 3px 7px;font-family: Lato;}
#product #box .basket a{color: #fff;}

#product #box .basketinput {float:left}

#product ul.download #title{font-size:15px;color:#000;font-weight:bold;margin-top:25px;}
#product ul.download{float:left;list-style:none;text-align:center;margin-left:25px;}
#product ul.download li{padding-top:25px;}
#product ul.download li span {clear:both;display:block;color:#7f7f7f;padding:0 15px;}
#product ul.download li a:hover{text-decoration:none;}

#product #productDescription{clear:both;float:left;color:#757575;overflow:hidden;width:756px;}
#product #productDescription h2{color:#000;font-size:20px;font-weight:normal;padding:10px 20px 10px 30px;}
#product #productDescription #description{padding:15px 20px 20px 80px;font-size:15px;}
#content .naviProduct{float:right;font-size:15px;font-family:Arial;padding:0 10px;margin-bottom:5px;}
#content .naviProduct .next{float:left;color:#eb4e15;}
#content .naviProduct .prev{float:left;color:#8d8d8d;padding-left:10px;}

#product .shadow {background-image:url('../img/shadow_box.jpg');background-repeat:no-repeat;background-position:top right;height:320px;width:23px;float:left;}

#product #options{clear:both;float:right;margin:10px 25px 15px 0;font-size:14px;font-family:Arial;}
#product #options .back{float:left;}
#product #options .back a{color:#ef6323;}
#product #options .print{float:left;}
#product #options .print a{color:#767676;border-left:1px solid #767676;padding-left:5px;margin-left:5px;}



/*MENU3*/
#menu3{float:left;}
#menu3 #title{font-size:20px;color:#000;padding-left:35px;text-transform:uppercase;}
#menu3 ul{float:left;padding:0 10px 5px;list-style:none;list-style:none;}
#menu3 li{padding:0 5px 0 15px;}
#menu3 li a{padding-left:10px;font-size:15px;color:#5e5e5e;text-transform:uppercase;}
#menu3 li a:hover, #menu1 .selected a{text-decoration:underline;}

#logo_bottom{float:right;padding-right:20px;}

/* FOOTER */
#foot0{clear:both;text-align:left;}
#foot0 .container{width:960px;margin:0 auto;padding:25px 0;color:#fff;overflow:hidden;}
#foot0 a{background:inherit;color:#fff;}
#foot0 a:hover{text-decoration:underline;}

/* FOOTER -  COPYRIGHTS STYLES */
#foot{clear:both;font-size:9px;}
#foot .container{width:900px;margin:0 auto;padding:5px 0 15px;color:#5e5e5e;overflow:hidden;text-transform:uppercase;font-family:Arial;}
#foot a{background:inherit;color:#5e5e5e;}
#foot a:hover{text-decoration:none;color:#fff;}

/* Drugi rzÄd podzielony na 3 */
/*OFFER BOX*/
#offerBox_2{padding:40px 80px 25px;overflow:hidden;background-repeat:no-repeat;background-position:bottom center;}
#box1_2, #box2_2{padding-right:23px;margin-right:24px;background-image:url('../img/shadow_contact.jpg');background-repeat:no-repeat;background-position:top right;float:left;}
#box3_2{float:left;}
#box1_border_2,#box2_border_2, #box3_border_2{float:left;border:1px solid #eeeeee;width:260px;text-align:center;min-height:250px;}
#box1_border_2 img ,#box2_border_2 img, #box3_border_2 img {float:left; margin:10px}
#box1_border_2 .title, #box2_border_2 .title, #box3_border_2 .title{text-align:left;font-size:25px;color:#000;padding:10px 30px 10px;background-image:url('img/bg_box.jpg');background-repeat:no-repeat;background-position:top left;height:52px;font-family:Arial;}
#box1_border_2 .description, #box2_border_2 .description, #box3_border_2 .description{color:#6e6e6e;font-size:15px;text-align:left;padding:0 25px 25px;}

#offerBox_2 .more a{font-size:15px;padding-right:10px;margin-right:20px;margin-top:10px;}


#advContent{padding:30px 40px 5px;margin-bottom:25px;overflow:hidden;font-family:Arial;background-image:url('../img/adv_shadow.png');background-repeat:no-repeat;background-position:bottom center;}
#advContent .more a{font-size:15px;padding-right:10px;margin-right:5px;margin-top:10px;}
#advContent #shadow{background-image:url('../img/shadow_contact.jpg');background-repeat:no-repeat;background-position:top right;width:23px;height:235px;float:left;}
#advContent h4{font-size:14px;font-weight:normal;font-family:Arial;color:#767676;margin-bottom:5px;float:left;}


#adv{padding:23px 19px;border:1px solid #eee;width:840px;color:#727272;float:left;height:187px;margin-left: 40px;}
#adv h1{font-size:25px;color:#000;padding-bottom:15px;font-weight:normal;}
#adv span{text-align:center;}

/* QTF Cookies Box*/
#qtf_cookie_div { position:fixed;bottom: 0;left:0;width:100%; background:whitesmoke;height:50px;line-height:50px;display:none;}
#qtf_cookie_all { width:1040px;margin:0 auto;text-align:left; }
#qtf_cookie_info { width:97%;margin: 0 auto;text-align:left;line-height:20px;float:left;padding-top: 5px; }
#qtf_cookie_img { width:20px;float:right; }
#qtf_cookie_close {cursor:pointer;vertical-align: middle;margin-top:20px;}